/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070; 
  --main-color: #000028;
  --title-color: #DB00FF;
  --heading-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-link-color: #ff0070;
  --accent-color-REC: #ff0070;
  --button-color: #ff0070;
  --decorative-bracket-color: #ff0070;
  --main-font: "IBM Plex mono";
  --bold: 700;
  --gap: 20px;
  --button-hover-color: #ff007066;
  --cover-image: url(../../images/cover-image-dark.png);
}

